/*
* The DigitalPenPH costumized CSS.
* Date: 03/13/2017
*/

/* page layout */
body {
    font-style: italic;
}
header {
        background:#FFFFFF;
        color: #2C3E50;
}
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.success {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.caption {
    padding-top: 5px;
}
/* image team filter */
.img-team {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
    transition: .5s all;
    cursor: pointer;
}
.img-team:hover {
    filter: none;
    transform: scale(1.05);
}
/* image services filter */
.img-services {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .5s all;
    cursor: pointer;
}
.img-services:hover {
    transform: scale(1.05);
}
